/* .row img {
  float:left;
  padding-right: 50px;
} */

#bleh {
  float:right;
  padding-left: 50px;
}

#paper {
  float: left;
  padding-right: 50px;
}

#felix{
  float: left;
  padding-right: 50px;

#cons{
    float: left;
    padding-right: 50px;  
